@model AccountingApp.Models.Bill
@using WeihanLi.Extensions

@{
    ViewData["Title"] = "编辑账单";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="BillTitle" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BillTitle" class="form-control" />
                <span asp-validation-for="BillTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BillType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="BillType" asp-items="(ViewBag.BillTypes).BillTypes" class="form-control"></select>
                <span asp-validation-for="BillType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BillDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="BillDescription" class="form-control"></textarea>
                <span asp-validation-for="BillDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BillFee" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BillFee" class="form-control disabled" readonly="readonly" disabled="disabled" /><br />
                @{
                    var details = Model.BillDetails.JsonToType<List<BillPayItemViewModel>>();
                    <table>
                        <thead>
                            <tr>
                                <th>用户</th>
                                <th>金额</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in details)
                            {
                                <tr>
                                    <td>@item.PersonName &nbsp;</td>
                                    <td>&nbsp; @(" ￥" + item.PayMoney.ToString("0.00"))</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
        <input type="hidden" asp-for="PKID" />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}