@{
    ViewData["Title"] = "首页";
}
<div class="table-wraper">
    <div class="table-header">
        <h3 class="table-title">@ViewData["Title"]</h3>
    </div>
    <div class="table-body" id="div_main">
        <ul class="list-group">
            <li class="list-group-item">@Html.ActionLink("我的账户", "Index", "Account")</li>
            <li class="list-group-item">@Html.ActionLink("账单类型", "Index", "BillTypes")</li>
            <li class="list-group-item">@Html.ActionLink("账单管理", "Index", "Bills")</li>
        </ul>
    </div>
</div>